/* colors */
$bright-blue: hsl(220, 98%, 61%);
/* gradients */
$check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
/* day mode */ 
$very-light-gray: hsl(0, 0%, 98%);
$very-light-gray-blue: hsl(236, 33%, 92%);
$light-gray-blue: hsl(233, 11%, 84%);
$dark-gray-blue: hsl(236, 9%, 61%);
$very-dark-gray-blue: hsl(235, 19%, 35%);
/* night mode */
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$night-light-gray-blue: hsl(234, 39%, 85%);
$night-hover-light-gray-blue: hsl(236, 33%, 92%);
$night-dark-gray-blue: hsl(234, 11%, 52%);
$night-very-dark-gray-blue: hsl(233, 14%, 35%);
$night-very-dark-gray-blue-2: hsl(237, 14%, 26%);